# DEV ENVIRONMENT
# Application configuration
TZ=Europe/Copenhagen

# Worker configuration
ATS_TOKEN=INSERT_TOKEN_HERE
ATS_URL=INSERT_URL_HERE
ATS_CAPABILITIES=

ATS_WORKQUEUE_OVERRIDE=WORKQUEUE_ID

# Development configration
LOCAL_DEVELOPMENT=true

# DBConnection string to desired server
DBCONNECTIONSTRINGDEV=Driver=INSERT_CONN_STRING_HERE
DBCONNECTIONSTRINGPROD=Driver=INSERT_CONN_STRING_HERE
DBCONNECTIONSTRINGSOLTEQTAND=Driver=INSERT_CONN_STRING_HERE

# MBU Dashboard configuration
DASHBOARD_API_URL=URL_HERE
API_ADMIN_TOKEN=TOKEN_HERE